* {
    padding: 0;
    margin: 0;
}

/* css selector select to */
body {
    padding: 20px;
}

/* .container {
    padding: 10px;
} */

.item {
    background-color: goldenrod;
    border: 1px solid grey;

    /* fixed heigh for everyitem, can use min-heigh intead */
    /* min-height: 50px; */
    height:  50px;
}

/* select a class */
.container {
    display: grid;

    /* devide to x columns(2 in this case)*/
    /* 1st column lenght 300px, 2nd is 100px */
    /* these size is fixed, but able to use fr instead*/
    /* grid-template-columns: 300px 100px; */

    /* fr stand for `fraction` là độ dài tương đối(hơi khó sub) */
    /* use this make it alike `flexbox` */
    grid-template-columns: 1fr 2fr;
}